### se importan las librerias necesarias

In [75]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# se cargan las hojas de excel

In [76]:
totales_accesos_tecnologia = pd.read_excel('../data/Internet.xlsx', sheet_name='Totales Accesos Por Tecnología')
totales_accesos_tecnologia

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023
1,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023
2,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023
3,2023,1,1204417,6002582,3243411,576647,214838,11241895,Ene-Mar 2023
4,2022,4,1315373,6037457,3060575,572969,221740,11208114,Oct-Dic 2022
5,2022,3,1395277,6031970,2871541,557110,235230,11091128,Jul-Sept 2022
6,2022,2,1468333,5979214,2723285,556243,231609,10958684,Abr-Jun 2022
7,2022,1,1533240,6073426,2219533,545814,251996,10624009,Ene-Mar 2022
8,2021,4,1657615,5984240,2072236,523107,252596,10489794,Oct-Dic 2021
9,2021,3,1950631,5826257,1566048,492415,250190,10085541,Jul-Sept 2021
10,2021,2,2018587,5641731,1472246,476968,253552,9863084,Abr-Jun 2021
11,2021,1,2175211,5424782,1362976,434548,250455,9647972,Ene-Mar 2021
12,2020,4,2213949,5371824,1311199,421554,253036,9571562,Oct-Dic 2020
13,2020,3,2263889,5259351,1170879,413259,248821,9356199,Jul-Sept 2020
14,2020,2,2295533,5005115,1106725,376667,247016,9031056,Abr-Jun 2020
15,2020,1,2299457,4903674,1047817,352333,209145,8812426,Ene-Mar 2020
16,2019,4,2414575,4883869,941295,340144,213298,8793181,Oct-Dic 2019
17,2019,3,2909805,4800091,852221,338241,264326,9164684,Jul-Sept 2019
18,2019,2,2990457,4635575,760794,308027,265328,8960181,Abr-Jun 2019
19,2019,1,3132789,4435439,637099,276419,166389,8648135,Ene-Mar 2019
20,2018,4,3329027,4313831,388013,264299,178485,8473655,Oct-Dic 2018
21,2018,3,3521447,4238171,247366,246181,93870,8347035,Jul-Sept 2018
22,2018,2,3557216,4038141,226285,194267,94535,8110444,Abr-Jun 2018
23,2018,1,3574294,3981129,217460,165300,98870,8037053,Ene-Mar 2018
24,2017,4,3584311,3818157,211425,155775,100554,7870222,Oct-Dic 2017
25,2017,3,3622575,3670221,193964,106443,131740,7724943,Jul-Sept 2017
26,2017,2,3723518,3383434,180777,85813,56122,7429664,Abr-Jun 2017
27,2017,1,3708898,3276251,180146,84813,55746,7305854,Ene-Mar 2017
28,2016,4,3722794,3210602,178070,85119,55088,7251673,Oct-Dic 2016
29,2016,3,3776442,3124855,169898,81455,54300,7206950,Jul-Sept 2016
30,2016,2,3782085,3035272,167788,85452,59482,7130079,Abr-Jun 2016
31,2016,1,3792493,2806359,164371,85370,58763,6907356,Ene-Mar 2016
32,2015,4,3803024,2898226,139187,85726,58668,6984831,Oct-Dic 2015
33,2015,3,3788696,2840203,162663,84530,58976,6935068,Jul-Sept 2015
34,2015,2,3767821,2756294,150839,82077,59157,6816188,Abr-Jun 2015
35,2015,1,3756153,2668248,168188,79098,66045,6737732,Ene-Mar 2015
36,2014,4,3764038,2536219,149682,76984,71573,6598496,Oct-Dic 2014
37,2014,3,3714764,2569868,155494,85096,70049,6595271,Jul-Sept 2014
38,2014,2,3708882,2461670,149363,72405,72148,6464468,Abr-Jun 2014
39,2014,1,3697066,2407330,150323,70749,72930,6398398,Ene-Mar 2014

In [77]:
accesos_tecnologia = pd.read_excel('../data/Internet.xlsx', sheet_name='Accesos Por Tecnología')
accesos_tecnologia

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2023,4,Buenos Aires,223391.0,2797700.0,1784593.0,137993.0,67943.0,5011620.0
1,2023,4,Capital Federal,58700.0,1198835.0,182520.0,4492.0,29820.0,1474367.0
2,2023,4,Catamarca,6669.0,11016.0,55437.0,1384.0,81.0,74587.0
3,2023,4,Chaco,14000.0,60277.0,62301.0,8404.0,2404.0,147386.0
4,2023,4,Chubut,26306.0,77217.0,26174.0,30543.0,9930.0,170170.0
...,...,...,...,...,...,...,...,...,...
957,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
958,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
959,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0
960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
961,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
#Totales Accesos por velocidad
totales_accesos_velocidad = pd.read_excel('../data/Internet.xlsx', sheet_name='Totales Accesos por velocidad')
totales_accesos_velocidad

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2024,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661
1,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908
2,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897
3,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,11241895
4,2022,4,31981,85668,1075272,1109421,765015,335573,7410902,394282,11208114
5,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
6,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
7,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009
8,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794
9,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,10085541
10,2021,2,40172,42024,2531271,1080279,693277,647401,4661291,167369,9863084
11,2021,1,39487,41674,2593477,1072722,737930,595920,4379965,186797,9647972
12,2020,4,39510,42185,2622638,1073875,786595,582420,4239237,185102,9571562
13,2020,3,41038,44005,2637984,1040017,799350,538567,4053461,201777,9356199
14,2020,2,41038,48690,2651502,1053107,807775,523437,3711499,194008,9031056
15,2020,1,42550,56170,2649819,1022014,814470,532309,3500882,194212,8812426
16,2019,4,38272,28980,2792307,1046128,851619,1004083,2830746,201046,8793181
17,2019,3,241713,80599,3309137,1026859,806466,1141545,2314898,243467,9164684
18,2019,2,202790,95980,3444458,871142,1169632,1250366,1677830,247983,8960181
19,2019,1,166573,195706,3428759,882836,1464748,1244215,1138728,126570,8648135
20,2018,4,138740,201196,3337982,882388,1472634,1688748,599579,152388,8473655
21,2018,3,5675,220589,3401277,859413,1607137,1571692,524777,156475,8347035
22,2018,2,5972,219467,3316868,979416,1905839,1000036,444391,238455,8110444
23,2018,1,7309,215406,3272724,976956,2068087,862010,397977,236584,8037053
24,2017,4,15041,221474,3773159,1005545,1730353,631946,337559,155145,7870222
25,2017,3,19022,217997,4062226,1062810,1592304,353480,245790,0,7553629
26,2017,2,22366,222766,4416065,990281,1342000,231604,98635,0,7323717
27,2017,1,20653,230159,4584534,975027,1129987,210668,47990,0,7199018
28,2016,4,20724,233398,4673339,971094,1038029,169522,38590,0,7144696
29,2016,3,20104,294413,4816081,936533,919208,124564,31022,0,7141925
30,2016,2,44008,384221,5058481,796998,785759,73977,29020,0,7172464
31,2016,1,30428,404810,4944358,762999,641646,27664,23380,0,6835285
32,2015,4,34243,427394,5049640,726740,639011,17568,22170,0,6916766
33,2015,3,35030,455777,5087802,701187,539414,13101,20677,0,6852988
34,2015,2,40723,500175,5138431,645440,432762,10045,18529,0,6786105
35,2015,1,41158,516919,5121423,571620,348102,7643,16347,0,6623212
36,2014,4,44075,554749,5084556,496251,276254,4371,15229,0,6475485
37,2014,3,37430,608018,5153437,373372,182483,507,12424,0,6367671
38,2014,2,41064,656408,5149574,341689,147273,478,12259,0,6348745
39,2014,1,52684,687619,5130294,289182,101127,345,11595,0,6272846

In [79]:
accesos_velocidad = pd.read_excel('../data/Internet.xlsx', sheet_name='Accesos por velocidad')
accesos_velocidad

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,4,Buenos Aires,26909.0,23962.0,228393.0,239339.0,246144.0,110876.0,4042646.0,93351.0,5011620.0
1,2024,4,Capital Federal,516.0,4544.0,26409.0,48083.0,33925.0,5829.0,1355061.0,0.0,1474367.0
2,2024,4,Catamarca,71.0,209.0,3065.0,3734.0,4423.0,1827.0,61181.0,77.0,74587.0
3,2024,4,Chaco,236.0,477.0,14811.0,10361.0,6247.0,5729.0,105485.0,4040.0,147386.0
4,2024,4,Chubut,111.0,1088.0,44276.0,31402.0,22843.0,20196.0,33665.0,16589.0,170170.0
...,...,...,...,...,...,...,...,...,...,...,...,...
955,2014,1,Santa Cruz,161.0,1625.0,24972.0,1.0,1.0,0.0,0.0,0.0,26760.0
956,2014,1,Santa Fe,8456.0,124468.0,345225.0,20328.0,6845.0,23.0,668.0,0.0,506013.0
957,2014,1,Santiago Del Estero,1234.0,10531.0,22817.0,2422.0,109.0,0.0,0.0,0.0,37113.0
958,2014,1,Tierra Del Fuego,12.0,607.0,30902.0,6.0,0.0,0.0,0.0,0.0,31527.0
959,2014,1,Tucumán,6.0,34672.0,83210.0,11779.0,362.0,3.0,0.0,0.0,130032.0

In [80]:
penetracion_totales = pd.read_excel('../data/Internet.xlsx', sheet_name='Penetracion-totales')
penetracion_totales

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2023,4,78.560000,24.660000,Oct-Dic 2023
1,2023,3,77.840000,24.410000,Jul-Sept 2023
2,2023,2,77.020000,24.140000,Abr-Jun 2023
3,2023,1,77.200000,24.170000,Ene-Mar 2023
4,2022,4,77.210000,24.150000,Oct-Dic 2022
5,2022,3,76.640000,23.950000,Jul-Sept 2022
6,2022,2,75.965424,23.720442,Abr-Jun 2022
7,2022,1,73.878803,23.049171,Ene-Mar 2022
8,2021,4,73.176397,22.810702,Oct-Dic 2021
9,2021,3,70.578853,21.982550,Jul-Sept 2021
10,2021,2,69.240183,21.547939,Abr-Jun 2021
11,2021,1,67.945876,21.127832,Ene-Mar 2021
12,2020,4,67.622339,21.010192,Oct-Dic 2020
13,2020,3,66.310000,20.590000,Jul-Sept 2020
14,2020,2,64.210003,19.918403,Abr-Jun 2020
15,2020,1,62.856361,19.483265,Ene-Mar 2020
16,2019,4,62.919912,19.487900,Oct-Dic 2019
17,2019,3,65.787985,20.360661,Jul-Sept 2019
18,2019,2,64.530000,19.960000,Abr-Jun 2019
19,2019,1,62.479166,19.307907,Ene-Mar 2019
20,2018,4,61.415807,18.970000,Oct-Dic 2018
21,2018,3,60.690000,18.730000,Jul-Sept 2018
22,2018,2,59.162069,18.240000,Abr-Jun 2018
23,2018,1,58.820000,18.120000,Ene-Mar 2018
24,2017,4,57.782351,17.792977,Oct-Dic 2017
25,2017,3,56.899221,17.509032,Jul-Sept 2017
26,2017,2,54.901191,16.882937,Abr-Jun 2017
27,2017,1,54.162116,16.644565,Ene-Mar 2017
28,2016,4,53.936019,16.564000,Oct-Dic 2016
29,2016,3,53.734186,16.504676,Jul-Sept 2016
30,2016,2,53.342201,16.371351,Abr-Jun 2016
31,2016,1,51.845452,15.901802,Ene-Mar 2016
32,2015,4,52.630888,16.122697,Oct-Dic 2015
33,2015,3,52.459106,16.050289,Jul-Sept 2015
34,2015,2,51.760266,15.817234,Abr-Jun 2015
35,2015,1,51.364586,15.677234,Ene-Mar 2015
36,2014,4,50.499788,15.394677,Oct-Dic 2014
37,2014,3,50.672368,15.428769,Jul-Sept 2014
38,2014,2,49.861428,15.163908,Abr-Jun 2014
39,2014,1,49.545821,15.050104,Ene-Mar 2014

In [81]:
penetracion_poblacion = pd.read_excel('../data/Internet.xlsx', sheet_name='Penetración-poblacion')
penetracion_poblacion

      Año  Trimestre            Provincia  Accesos por cada 100 hab
0    2023          4         Buenos Aires                 27.680000
1    2023          4      Capital Federal                 47.800000
2    2023          4            Catamarca                 17.460000
3    2023          4                Chaco                 11.850000
4    2023          4               Chubut                 26.040000
..    ...        ...                  ...                       ...
955  2014          1           Santa Cruz                  8.677327
956  2014          1             Santa Fe                 15.077801
957  2014          1  Santiago Del Estero                  4.058899
958  2014          1     Tierra Del Fuego                 19.104921
959  2014          1              Tucumán                  8.307215

[960 rows x 4 columns]

In [82]:
penetracion_hogares = pd.read_excel('../data/Internet.xlsx', sheet_name='Penetracion-hogares')
penetracion_hogares

      Año  Trimestre            Provincia  Accesos por cada 100 hogares
0    2023          4         Buenos Aires                     80.960000
1    2023          4      Capital Federal                    117.020000
2    2023          4            Catamarca                     68.630000
3    2023          4                Chaco                     44.350000
4    2023          4               Chubut                     84.960000
..    ...        ...                  ...                           ...
955  2014          1           Santa Cruz                     28.939093
956  2014          1             Santa Fe                     47.847663
957  2014          1  Santiago Del Estero                     16.309924
958  2014          1     Tierra Del Fuego                     63.965926
959  2014          1              Tucumán                     33.420975

[960 rows x 4 columns]

# se realiza el ETL

In [83]:
totales_accesos_tecnologia.drop(columns= 'Periodo', inplace= True)
#la columna no es nesesaria ya que año y trimestre cumplen su misma funcion
accesos_tecnologia.drop([960, 961], inplace= True) # las columnas no tienen datos
accesos_tecnologia['Año'] = accesos_tecnologia['Año'].apply(lambda x:x[:4] if type(x) == str else x)
accesos_tecnologia['Trimestre'] = accesos_tecnologia['Trimestre'].apply(lambda x:x[:1] if type(x) == str else x)
#totales_accesos_velocidad no nesesita ninguna transformacion
accesos_velocidad = accesos_velocidad.fillna(0) #se rellenan los vacios con el valor 0
accesos_velocidad['OTROS'] = accesos_velocidad['OTROS'].apply(abs)
# hay un valor negativo lo cual es imposible en este contexto por lo que se usa la funcion de valor absoluto
#la columna no es nesesaria ya que año y trimestre cumplen su misma funcion
penetracion_totales = penetracion_totales.drop(columns='Periodo')
#penetracion_poblacion no nesesita ninguna transformacion
#penetracion_hogares no nesesita ninguna transformacion